.messages {
    padding: 2em;
}

.message {
    padding: 1em;
    border: 2px solid orange;
    background-color: white;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    color: purple;
}

h3.message__content {
    color: purple;
}

li a:hover {
    background-color: #111;
    color: white;
}


h2 {
    padding: 0em 0em 0em 2em;
}