.tasks {
    padding: 2em;
}

.task {
    padding: 1em;
    border: 2px solid orange;
}

a {
    color: purple;
}

h3.task__name {
    color: purple;
}

.taskTitleButton {
    margin: 0em 0em 2em 2em;
}


.task__completeBy  {
    color: black;
}

.task__checked {
    
    color: black;
}
