.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.event {
    flex-basis: 30%;
    margin: 1em;
    padding: 1em;
    border: 2px solid rgb(25, 105, 197);
}