li {
    display: inline;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

li a:hover {
    background-color: #111;
    color: white;
}

.navbar {
    display: flex;
    flex: 100%;
    background-color:rgb(52, 21, 109) ;
   
}

.navbar__link {
    color: white;
}
